<div>
  <h2 id="page-heading" data-cy="StocksHeading">
    <span>Stock List</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-stocks"
        [routerLink]="['/stocks/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Stocks </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="stocks?.length === 0">
    <span>No stocks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="stocks && stocks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>Stockname</span></th>
          <th scope="col"><span>Market</span></th>
          <th scope="col"><span>High Price</span></th>
          <th scope="col"><span>Low Price</span></th>
          <th scope="col"><span>Buy Price</span></th>
          <th scope="col"><span>User</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stocks of stocks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/stocks', stocks.id, 'view']">{{ stocks.stockname }}</a>
          </td>
          <td>{{ stocks.market }}</td>
          <td>{{ stocks.highPrice }}</td>
          <td>{{ stocks.lowPrice }}</td>
          <td>{{ stocks.buyPrice }}</td>
          <td>
            {{ stocks.user?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/stocks', stocks.id, 'view']" class="btn btn-view" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/stocks', stocks.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(stocks)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
